<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'index', media: 'all' %>
  </head>

  <h1> Mentoras </h1>
  <%= link_to "Adicionar mentora", new_mentora_path, class: "button" %>
  <br>
  <br>
  <% @mentoras.each do |mentora| %>

    <%= link_to mentora.nome, mentora_path(mentora), class: "linkNome" %>
    <%= link_to "Visualizar", mentora_path(mentora),  class: "buttonLista" %>
    <%= link_to "Editar", edit_mentora_path(mentora),  class: "buttonLista" %>
    <%= link_to "Remover", mentora_path(mentora),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },  class: "buttonLista" %>
    <hr>

  <% end %>

</html>
